<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/offcanvas.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% include "main_nav.html" %}


    <!--main-->
<div class="container" id="main">
   <div class="row" style="margin-top:-100px;">
        <div class="col-md-5 col-sm-4"style="margin-left:100px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><a href="#addblogModal" role="button" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span></a>&nbsp;&nbsp;Add New Blogs </h4>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-4" style="margin-left:100px;">
            {% if latest_blog_list %}
                {% for blog in latest_blog_list %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                                <h4>{{ blog.blog_title }}</h4>
                        </div>
                        <div class="panel-body">
                            <div class="panel-thumbnail">
                                {{blog.blog_body}}<hr>
                                {% for comment in blog.comment_set.all %}
                                    <div class="panel-body col-md-12 col-sm-12" style="background-color: rgb(230, 234, 230);">
                                        <div class="col-md-2 col-sm-2" style="display:inline;float:left;background-color: rgb(230, 234, 250);">
                                            <img src="../media/{{comment.user.userprofile.user_picture}}" class="img-thumbnail"  style="width: 31px;height: 31px;"><br />
                                            <span>{{comment.user.username}}</span>
                                        </div>
                                        <div class="col-md-10 col-sm-10 bubble" style="display:inline;float:right;">
                                            <div style="float:left;margin-left: 5px;">{{comment.comment_data}}</div><br />
                                            <div style="float:right;"><i class="glyphicon glyphicon-time"></i>&nbsp;{{comment.comment_time}}</div>
                                        </div>
                                    </div>
                                {%endfor%}
                                <div>
                                    <a id="comment" onclick="comment({{blog.id}})" href="#" role="button" data-toggle="modal">Comment</a>&nbsp;&nbsp;
                                    <div id="comment_body_{{blog.id}}" style="display:none;">
                                        <form class="form-group" action="" method="post">{% csrf_token %}
                                            {{ form_comment }}
                                            <br><button class="btn btn-success pull-right" type="submit">Post</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No Blogs are available.</p>
            {% endif %}
        </div>
   </div>
</div>
<!--add blog modal-->
<div id="addblogModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
        <div class="modal-body">
            <div class="col-md-10 col-sm-4">
                  <div class="panel panel-default">
                      <div class="panel-body">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h2 class="text-center">Blog</h2>
                            <hr>
                            <form class="form-group" action="" method="post">
                                {% csrf_token %}
                                   {{ form_blog }}
                            <br><button class="btn btn-success pull-right" type="submit">Post</button>
                            </form>
                      </div>
                  </div>
            </div>
        </div>
   </div>
</div>
	<!-- script references -->

    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</body>
</html>