<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/offcanvas.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        div.wrapper{
            float:left; /* important */
            position:relative; /* important(so we can absolutely position the description div */
        }
        div.description{
            position:absolute; /* absolute position (so we can position it where we want)*/
            bottom:0px; /* position will be on bottom */
            left:0px;
            width:100%;
            /* styling bellow */
            background-color:#F8F8F8;
            font-family: 'tahoma';
            font-size:15px;
            color:black;
            hover.color:black;
            opacity:0.7; /* transparency */
            filter:alpha(opacity=60); /* IE transparency */
        }

        div.description:hover,div.description:active{
        background-color:#CCCCCC ;
        }
        p.description_content{
            padding:10px;
            margin:0px;
        }

    </style>
</head>
<body style="background-color:#e9eaed;">
{% include "main_nav.html" %}


<div class="navbar navbar-default" id="subnav"style="margin-top:-20px;">
    <div class="col-md-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>

        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse2">
          <ul class="nav navbar-nav navbar-left">
             <li  id="topevents" class="active" onclick="topevents()"><a href="#" role="button" data-toggle="modal">Top Ranked Events</a></li>
             <li id="topblogs" onclick="topblogs()"><a href="#" role="button" data-toggle="modal">Top Commented Blogs</a></li>
             <li id="myblog" onclick="myblog()"><a href="#" role="button" data-toggle="modal">My Blog</a></li>
           </ul>
        </div>
     </div>
</div>
    <!--main-->
<div class="container" id="main" style="">
   <div class="row" style="margin-top:-50px;width:80%;margin-left:auto;margin-right:auto;">
        <div id="topevents_body">
            <div class="col-md-6 col-sm-6">
            {% if top_ranked_events %}
            {% for event in top_ranked_events %}
                <div class="panel panel-default">
                    <div class="panel-body"><div class="wrapper">
                            <img src="../media/{{event.event_thumbnail}}"  class="img-responsive">
                            <a style="text-decoration:none;" href="#eventshow_{{event.id}}" role="button" data-toggle="modal">
                            <div class="description">
                                <p class='description_content'>
                                    <b>{{ event.event_name }}</b><br>
                                    {{event.event_date}}<br>
                                    Location-{{event.event_location}}
                                </p>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <p>No Events are available.</p>
            {% endif %}
            </div>
        </div>
        <div id="topblogs_body">
            <div class="col-md-6 col-sm-6">
                {% if top_commented_blog %}
                {% for blog in top_commented_blog %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{ blog.blog_title }}</h4>
                    </div>
                    <div class="panel-body">
                        <div class="clearfix"></div>
                        <h5>{{blog.blog_body}}</h5>
                        {% for comment in blog.comment_set.all %}
                            <div class="panel-body">
                                <img src="../media/{{comment.user.userprofile.user_picture}}" width="30px" height="30px">
                                {{comment.comment_data}}<br />
                                <i class="glyphicon glyphicon-time"></i>&nbsp;{{comment.comment_time}} <br />
                            </div>
                        {%endfor%}
                        <div>
                            <a onclick="comment({{blog.id}})" href="#" role="button" data-toggle="modal">Comment</a>&nbsp;&nbsp;
                            <div id="comment_body_{{blog.id}}" style="display:none;">
                                <form class="form-group" action="" method="post">{% csrf_token %}
                                    {{ form_comment }}
                                    <br><button class="btn btn-success pull-right" type="submit">Post</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    <p>No Blogs are available.</p>
                {% endif %}
            </div>
        </div>
        <div id="myblog_body">
            <div class="col-md-6 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><a href="#addblogModal" role="button" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span></a>&nbsp;&nbsp;Add New Blogs </h4>
                    </div>
                </div>
            {% if my_blogs %}
                {% for blog in my_blogs %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{ blog.blog_title }}</h4>
                    </div>
                    <div class="panel-body">
                        <div class="clearfix"></div>
                        <h5>{{blog.blog_body}}</h5>
                        {% for comment in blog.comment_set.all %}
                            <div class="panel-body">
                                <img src="../media/{{comment.user.userprofile.user_picture}}" width="30px" height="30px">
                                {{comment.comment_data}}<br />
                                <i class="glyphicon glyphicon-time"></i>&nbsp;{{comment.comment_time}} <br />
                            </div>
                        {%endfor%}
                        <div>
                            <a id="comment1" onclick="comments({{blog.id}})" href="#" role="button" data-toggle="modal">Comment</a>&nbsp;&nbsp;
                            <div id="comment_body{{blog.id}}" style="display:none;">
                                <form class="form-group" action="" method="post">{% csrf_token %}
                                    {{ form_comment }}
                                    <br><button class="btn btn-success pull-right" type="submit">Post</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No Blogs are available.</p>
            {% endif %}
            </div>
        </div>
   </div>
</div>
<!--add blog modal-->
<div id="addblogModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 class="text-center">Blog</h2>
      </div>
      <div class="modal-body" style="padding:0px;">
          <div class="col-md-12">
            <form class="form-group" action="" method="post">{% csrf_token %}
                       {{ form_class }}
                <br><button class="btn btn-success pull-right" type="submit">Post</button>
            </form>
          </div>
      </div>
      <div class="modal-footer">

      </div>
  </div>
  </div>
</div>


  {% if top_ranked_events %}
      {% for event in top_ranked_events %}
        <!-- event show modal-->
        <div id="eventshow_{{event.id}}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">

                  <div class="modal-body" style="padding:0px;">
                      <div class="col-md-12 col-sm-4">
                          <div class="panel panel-default">
                              <div class="panel-body">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <br><br>
                                  <img src="../media/{{event.event_thumbnail}}"  class="img-responsive">
                                  <h4><b>Event Details</b></h4>
                                  <p>Event&nbsp;:&nbsp;{{ event.event_name }}</p>
                                  <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;Location&nbsp;:&nbsp;{{event.event_location}}</p>
                                  <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;Date&nbsp;:&nbsp;{{event.event_date}}</p>
                                  <hr>
                                  <p> Description&nbsp;:</p>
                                  {{event.event_description}}
                                  <hr>
                                  <a id="feedback" onclick="feedback({{event.id}})" href="#" role="button" data-toggle="modal">Feedback</a>&nbsp;&nbsp;
                                  <a id="suggestion" onclick="suggestion({{event.id}})" href="#" role="button" data-toggle="modal">Suggestion</a>&nbsp;&nbsp;
                                  <a id="" onclick="rating({{event.id}})" href="#" role="button" data-toggle="modal">Rate this event</a>
                                  <div id="feedback_body_{{event.id}}" style="display:none;">
                                        <form class="form-group" action="" method="post">{% csrf_token %}
                                            {{ form_feedback }}
                                            <br><button class="btn btn-success pull-right" type="submit">Post</button>
                                        </form>
                                  </div>
                                  <div id="suggestion_body_{{event.id}}" style="display:none;">
                                        <form class="form-group" action="" method="post">{% csrf_token %}
                                            {{ form_suggestion }}
                                            <br><button class="btn btn-success pull-right" type="submit">Post</button>
                                        </form>
                                  </div>
                                  <div id="rating_body_{{event.id}}" style="display:none;">
                                        <form class="form-group" action="" method="post">{% csrf_token %}
                                            {{ form_rating }}
                                            <br><button class="btn btn-success pull-right" type="submit">Post</button>
                                        </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>

      {% endfor %}
  {% endif %}
	<!-- script references -->

    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
<script>
    function comments(id){
    $("#comment_body"+id).toggle()
    $("#comment_body"+id).find("#id_blog").val(id)
    }
</script>
</body>
</html>