<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>:. SandStrom Events .:</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/offcanvas.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>
	<body>
        {% include "main_nav.html" %}
        <div class="container" id="main">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                {% if latest_event_list %}
                {% for event in latest_event_list %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Event-{{ event.event_name }}</h4>
                        </div>
                        <div class="panel-body">
                            <div class="panel-thumbnail"><img src="../media/{{event.event_thumbnail}}"  class="img-responsive"></div>
                            <div class="clearfix"></div>
                            <h4>Description-{{event.event_description}}</h4>
                            <h4>Location-{{event.event_location}}</h4>
                            <h4> Date and Time- {{event.event_date}}</h4>
                            <div id="clearfix">
                            <a id="feedback" onclick="feedback()" href="#" role="button" data-toggle="modal">Feedback</a>&nbsp;&nbsp;
                            <a id="suggestion" onclick="suggestion()" href="#" role="button" data-toggle="modal">Suggestion</a>
                            </div>
                            <div id="suggestion_body">
                                Sunny
                            </div>
                            <div id="feedback_body">


                                <form class="form-group" action="" method="post">{% csrf_token %}
                                    {{ form_class }}
                                    <br><button class="btn btn-success pull-right" type="submit">Post</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                    <p>No Events are available.</p>
                {% endif %}
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel-thumbnail">
                                <ul>
                                    <li id="view"onclick="view()">VIEW</li>
                                    <li id="show"onclick="show()">VIEW</li>
                                </ul>
                                 <div id="view_body">
                                     Sunny
                                 </div>
                                 <div id="show_body">
                                     Avinash
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- script references -->

    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    </body>
    <script>

    </script>
</html>