<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>:. SandStrom Events .:</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/offcanvas.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <style>

        </style>
	</head>
	<body>
        {% include "main_nav.html" %}
        <div class="container" id="main" style="margin-top: -95px; width: 70%;">
            <div class="row">
                <div class="col-md-6 clo-sm-4">
                    {% if latest_event_list %}
                        {% for event in latest_event_list %}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a style="text-decoration:none;" href="#eventshow_{{event.id}}" role="button" data-toggle="modal">
                                        <div class="panel-thumbnail">
                                            <div class="img-thumbnail">
                                                <img src="../media/{{event.event_thumbnail}}"  class="img-responsive">
                                            </div><br/>
                                            <b>{{ event.event_name }}</b><br/>
                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;{{event.event_date}}<br>
                                            Location-{{event.event_location}}<hr>

                                            {% for feedback in event.feedback_set.all %}
                                                <div class="panel-body col-md-12 col-sm-12" style="background-color: rgb(230, 234, 230);">
                                                    <div class="col-md-2 col-sm-2" style="display:inline;float:left;margin-left:-5px;background-color: rgb(230, 234, 250);">
                                                        <img src="../media/{{feedback.user.userprofile.user_picture}}" class="img-thumbnail"  style="width: 31px;height: 31px;"><br />
                                                        <span>{{feedback.user.first_name}}</span>
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 bubble" style="display:inline;float:right;">
                                                        <div style="float:left;margin-left: 5px;">{{feedback.feedback_data}}</div><br />
                                                        <div style="float:right;"><i class="glyphicon glyphicon-time"></i>&nbsp;{{feedback.feedback_time}}</div>
                                                    </div>
                                                </div>
                                            {%endfor%}
                                            <a class="feedback" onclick="feedback({{event.id}})" date="{{event.event_date|date:'Y-m-d'}}" href="#" role="button" data-toggle="modal">Feedback</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a class="suggestion" onclick="suggestion({{event.id}})" date="{{event.event_date|date:'Y-m-d'}}" href="#" role="button" data-toggle="modal">Suggestion</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a class="rating" onclick="rating({{event.id}})" date="{{event.event_date|date:'Y-m-d'}}" href="#" role="button" data-toggle="modal">Rate this event</a>
                                            <div id="feedback_body_{{event.id}}" style="display:none;">
                                                <form class="form-group" action="" method="post">{% csrf_token %}
                                                    {{ form_feedback }}
                                                    <br><button class="btn btn-success pull-right" type="submit">Post</button>
                                                </form>
                                            </div>
                                            <div id="suggestion_body_{{event.id}}" style="display:none;">
                                                <form class="form-group" action="" method="post">{% csrf_token %}
                                                    {{ form_suggestion }}
                                                    <br><button class="btn btn-success pull-right" type="submit">Post</button>
                                                </form>
                                            </div>
                                            <div id="rating_body_{{event.id}}" style="display:none;">
                                                <form class="form-group" action="" method="post">{% csrf_token %}
                                                    {{ form_rating }}
                                                    <br><button class="btn btn-success pull-right" type="submit">Post</button>
                                                </form>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No Events are available.</p>
                    {% endif %}
                </div>
                <div id="search_body">
                    <div class="col-md-5 col-sm-4" style="float:right;">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4>Search Results</h4>
                            </div>
                            <div class="panel-body">
                                {% if found_entries %}
                                    {% for ent in found_entries %}
                                        <li style="list-style-type: none;">
                                            <a href="#" style="text-decoration:none;"><i class="glyphicon glyphicon-link"></i>&nbsp;<b>{{ ent }}</b></a>
                                        </li>
                                    <!--<li>{{ ent }}: {{ ent.event_description}}</li>-->
                                    {%endfor%}
                                {% else %}
                                    <p>No Such Record..</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!-- event show modal-->
{% if latest_event_list %}
    {% for event in latest_event_list %}
        <div id="eventshow_{{event.id}}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-body" style="padding:0px;">
                  <div class="col-md-10 col-sm-4">
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                              <br><br>
                              <div class="img-thumbnail"><img src="../media/{{event.event_thumbnail}}"  class="img-responsive"></div>
                              <h4><b>Event Details</b></h4>
                              <p>Event&nbsp;:&nbsp;{{ event.event_name }}</p>
                              <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;Location&nbsp;:&nbsp;{{event.event_location}}</p>
                              <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;Date&nbsp;:&nbsp;{{event.event_date}}</p>
                              <hr>
                              <p> Description&nbsp;:</p>
                              {{event.event_description}}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    {% endfor %}
{% endif %}
        <!-- script references -->

    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    </body>
    <script>
            function feedback(id){
                $("#suggestion_body_"+id).hide()

                $("#feedback_body_"+id).toggle()
                $("#feedback_body_"+id).find("#id_event").val(id)
            }

            function suggestion(id){
                $("#feedback_body_"+id).hide()
                $("#rating_body_"+id).hide()
                $("#suggestion_body_"+id).toggle()
                $("#suggestion_body_"+id).find("#id_event").val(id)
            }

            function rating(id){
                $("#feedback_body_"+id).hide()
                $("#suggestion_body_"+id).hide()
                $("#rating_body_"+id).toggle()
                $("#rating_body_"+id).find("#id_event").val(id)
            }

            $(document).ready(function(){
                $(".rating").each(function(i){
                    var date = $(this).attr('date')
                    d1 = new Date(date)
                    d2 = new Date()
                    console.log(d1, d2)
                    if(d1>d2){
                        $(this).css('display', 'none')
                    }
                });
                $(".feedback").each(function(i){
                    var date = $(this).attr('date')
                    d1 = new Date(date)
                    d2 = new Date()
                    console.log(d1, d2)
                    if(d1>d2){
                        $(this).css('display', 'none')
                    }
                });
                $(".suggestion").each(function(i){
                    var date = $(this).attr('date')
                    d1 = new Date(date)
                    d2 = new Date()
                    console.log(d1, d2)
                    if(d1<d2){
                        $(this).css('display','none')
                    }
                });
            });
    </script>
    <script>
        function searchs(){
            $("#search_body").show();
        }
    </script>
</html>