<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/offcanvas.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

     <!-- Fixed navbar -->
<nav class="navbar navbar-fixed-top header">
 	<div class="col-md-12">
        <div class="navbar-header">

          <a href="#" class="navbar-brand">SandStrom</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
          <i class="glyphicon glyphicon-search"></i>
          </button>

        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
          <form class="navbar-form pull-right">
              <div class="input-group" style="max-width:470px;">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                <div class="input-group-btn">
                  <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
          </form>
          <ul class="nav navbar-nav navbar-left">
			 <li><a href="/">Dashboard</a></li>
			 <li><a href="/event">Event</a></li>
			 <li><a href="/blog">Blog</a></li>
             <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-bell"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><span class="badge pull-right">40</span>Link</a></li>
                  <li><a href="#"><span class="badge pull-right">2</span>Link</a></li>
                  <li><a href="#"><span class="badge pull-right">0</span>Link</a></li>
                  <li><a href="#"><span class="label label-info pull-right">1</span>Link</a></li>
                  <li><a href="#"><span class="badge pull-right">13</span>Link</a></li>
                </ul>
             </li>
             <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.username }}&nbsp;<i class="glyphicon glyphicon-user"></i><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                   <li><a href="/account/logout">Logout</a></li>
                </ul>
             </li>
           </ul>
        </div>
     </div>
</nav>
<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>

        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse2">
          <ul class="nav navbar-nav navbar-left">
             <li  id="topevents" class="active" onclick="topevents()"><a href="#" role="button" data-toggle="modal">Top Ranked Events</a></li>
             <li id="topblogs" onclick="topblogs()"><a href="#" role="button" data-toggle="modal">Top Commented Blogs</a></li>
             <li id="myblog" onclick="myblog()"><a href="#" role="button" data-toggle="modal">My Blog</a></li>
           </ul>
        </div>
     </div>
</div>
    <!--main-->
<div class="container" id="main">
   <div class="row" style="margin-top:-50px;">
        <div id="topevents_body">
            <div class="col-md-6 col-sm-6">
            {% if latest_event_list %}
            {% for event in latest_event_list %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Event-{{ event.event_name }}</h4>
                    </div>
                    <div class="panel-body">
                        <div class="panel-thumbnail"><img src="media/{{event.event_thumbnail}}"  class="img-responsive"></div>
                        <div class="clearfix"></div>
                        <h4>Description-{{event.event_description}}</h4>
                        <h4>Location-{{event.event_location}}</h4>
                        <h4> Date and Time- {{event.event_date}}</h4>
                    </div>

                </div>
            {% endfor %}
            {% else %}
                <p>No Events are available.</p>
            {% endif %}
            </div>
        </div>
        <div id="topblogs_body">
            Sunny
        </div>
        <div id="myblog_body">
            <div class="col-md-6 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><a href="#addblogModal" role="button" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span></a>&nbsp;&nbsp;Add New Blogs </h4>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>
<!--add blog modal-->
<div id="addblogModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 class="text-center">Blog</h2>
      </div>
      <div class="modal-body" style="padding:0px;">
          <div class="col-md-12">
            <form class="form-group" action="/addblogmodal" method="post">{% csrf_token %}
                       {{ form_class }}
                <br><button class="btn btn-success pull-right" type="submit">Post</button>
            </form>
          </div>
      </div>
      <div class="modal-footer">

      </div>
  </div>
  </div>
</div>
	<!-- script references -->

    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</body>
</html>